#board > ul {
  border: 1px solid black;
  margin: 0 auto;
  width: 328px;
  height: 328px;
}

#board li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

#board li:hover {
  background: lightgray;
}

#board li.selected {
  background: red;
}

#board li:hover {
  cursor: pointer;
}
