html, body, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#board > ul {
  border: 1px solid black;
  margin: 0 auto;
  width: 328px;
  height: 328px;
}

#board li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin: 10px;
}

#board span {
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 60px; /* same height as li */
}

#board span:hover {
  cursor: pointer;
}
