#main-gameplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid blue;
}

#rules,
#submitted-words {
  display: block;
  width: 300px;
  height: 350px;
  border: 1px solid black;
}

#rules {

}

#board {

}

#submitted-words {

}

/* RULES */

/* BOARD */

#board > ul {
  border: 1px solid black;
  width: 328px;
  height: 328px;
}

#board li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

#board li:hover {
  background: lightgray;
}

#board li.selected {
  background: red;
}

#board li.valid {
  font-weight: bold;
  font-size: 20px;
  background: #34ff2b;
  /*color: green;*/
}

#board li:hover {
  cursor: pointer;
}

/* SUBMITTED WORDS */

#submitted-words ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
}
