#current-selection {
  display: block;
  background-color: rgba(0,0,0,0.5);
  width: 300px;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

#current-selection span {
  position: relative;
  opacity: 1;
  color: white;
}

#current-selection span.invalid {

}

#current-selection span.already-submitted {

}

#current-selection span.valid {

}
