#main-gameplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

#instructions,
#submitted-words {
  display: block;
  width: 300px;
  height: 350px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

#instructions h2,
#submitted-words h2 {
  font-size: 24px;
  text-decoration: underline;
  margin: 10px;
}

#submitted-words {
  color: white;
}

/* INSTRUCTIONS */

#instructions p {
  margin: 10px;
}

/* BOARD */

#board > ul {
  width: 320px;
  height: 320px;
}

#board li {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;

  position: relative;
	background-image: linear-gradient(lightgray, white);
  box-shadow: 0px 1px 4px -2px #333;
}

#board li:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
  border-radius: 10px 10px 0 0;
}

#board li .letter {
  font-size: 35px;
  font-weight: bold;
}

#board li .weight {
  position: absolute;
  line-height: 12px;
  font-size: 12px;
  top: 6px;
  right: 6px;
  text-align: right;
  z-index: 999;
}

/*#board li:hover,*/
#board li.selected {
  background: linear-gradient(#ffa100, #fff200);
  color: #a55500;
}

#board li.invalid {
  color: #c40000;
  /*font-style: italic;*/
}

#board li.valid {
  color: green;
}

#board li.already-submitted {
  color: orange;
}

#board li:hover,
#board li span:hover {
  cursor: pointer;
}

/* SUBMITTED WORDS */

#submitted-words ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  height: 290px;
  margin: 10px;
  overflow-y: hidden;
}
